{% extends 'homebase.html' %}
{% load static %}
{% load mptt_tags %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}

    {% block title %} about-us {{ setting.title }} {% endblock %}
    {% block keywords %}  {{ setting.keywords }} {% endblock %}
    {% block description %}  {{ setting.description }} {% endblock %}

    {% block head %}

        <style>
            h2 {
                font-family: Arial, Verdana;
                font-weight: 800;
                font-size: 2.5rem;
                color: #091f2f;
                text-transform: uppercase;
            }

            .accordion-section .panel-default > .panel-heading {
                border: 0;
                background: #f4f4f4;
                padding: 0;
            }

            .accordion-section .panel-default .panel-title a {
                display: block;
                font-style: italic;
                font-size: 1.5rem;
            }

            .accordion-section .panel-default .panel-title a:after {
                font-family: 'FontAwesome';
                font-style: normal;
                font-size: 3rem;
                content: "\f106";
                color: #1f7de2;
                float: right;
                margin-top: -12px;
            }

            .accordion-section .panel-default .panel-title a.collapsed:after {
                content: "\f107";
            }

            .accordion-section .panel-default .panel-body {
                font-size: 1.2rem;
            }</style>


        <script>
            $(function () {
                $("#accordion").accordion();
            });
        </script>

    {% endblock %}
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>frequently asked question</h1>
                </div>
            </div>
        </div>
    </div>

    {% for rs in faq %}

        <div class="accordion-section clearfix mt-3" aria-label="Question Accordions">

        <div class="container">


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">

                    <div class="panel-heading p-3 mb-3" role="tab" id="heading{{ counter }}">
                        <h3 class="panel-title">

                            <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                               href="#collapse{{ rs.id }}"{% if forloop.counter == 24 %} aria-expanded="true" aria-controls="collapse{{ counter }}"{% endif%}>
                                {{ rs.question }}
                            </a>
                        </h3>
                    </div>
                    <div{% if forloop.counter == 24 %} id="collapse{{ counter }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ counter }}"{% endif%}>
                        <div class="panel-body px-3 mb-4">
                            <p> {{ rs.answer | safe }}</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

</div>
    </section>

  {% endfor %}


{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}

{% block javascripts %}{% include "javascript.html" %}{% endblock %}