{% extends 'homebase.html' %}
{% load static %}
{% load mptt_tags %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}
    {% block title %} Resturants- {{ setting.title }} {% endblock %}
    {% block keywords %}  {{ setting.keywords }} {% endblock %}
    {% block description %}  {{ setting.description }} {% endblock %}

    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Resturants</h1>
                </div>
            </div>
        </div>
    </div>





    {% load mptt_tags %}
    <a class="">

        {% recursetree category %}
            <a>
                <a style="color: #0b2e13 !important;"
                    {% if node.is_leaf_node %}
                   href="/category/{{ node.id }}/{{ node.slug }}"><img  src="{{ node.image.url }}" height="300" style="border-radius: 40px  40px 40px 40px;" /></a>
            {% endif %}
                {% if not node.is_leaf_node %}

                    <a style="margin-left:30px">
                        {{ children }}

                    </a>

                {% endif %}
            </a>
        {% endrecursetree %}
    </a>


    </div>
    </li>

    {% recursetree category %}
        {% load mptt_tags %}
        {% if node.is_leaf_node %}
            <a value="{{ node.id }}"></a>
        {% endif %}
        <a href="/category/{{ node.id }}/{{ node.slug }}">
            {% if not node.is_leaf_node %}



                </a>
            {% endif %}
    {% endrecursetree %}




{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}

{% block javascripts %}{% include "javascript.html" %}{% endblock %}